<!DOCTYPE html>

  <head>
    <meta charset="utf-8" />
    <title> Module <%=valModule%> </title>
  </head>
  <body>

    <h1> <%=valModule%>  </h1>

    <% if(valModule == 1) {%>
    <% if(module1) {%>
        <button disabled  class="button" style="color: green;"> Module <%=valModule%></button>
    <%} if(!module1) {%>
        <button disabled  class="button" style="color: red;"> Module <%=valModule%></button>
    <%  }}%>

    <% if(valModule == 2) {%>
    <% if(module2) {%>
        <button disabled  class="button" style="color: green;"> Module <%=valModule%></button>
    <%} if(!module2) {%>
        <button disabled  class="button" style="color: red;"> Module <%=valModule%></button>
    <%  }}%>

    <% if(valModule == 3) {%>
    <% if(module3) {%>
        <button disabled  class="button" style="color: green;"> Module <%=valModule%></button>
    <%} if(!module3) {%>
        <button disabled  class="button" style="color: red;"> Module <%=valModule%></button>
    <%  }}%>

    <% if(valModule == 4) {%>
    <% if(module4) {%>
        <button disabled  class="button" style="color: green;"> Module <%=valModule%></button>
    <%} if(!module4) {%>
        <button disabled  class="button" style="color: red;"> Module <%=valModule%></button>
    <%  }}%>

    <% if(valModule == 5) {%>
    <% if(module5) {%>
        <button disabled  class="button" style="color: green;"> Module <%=valModule%></button>
    <%} if(!module5) {%>
        <button disabled  class="button" style="color: red;"> Module <%=valModule%></button>
    <%  }}%>

    <% if(valModule == 6) {%>
    <% if(module6) {%>
        <button disabled  class="button" style="color: green;"> Module <%=valModule%></button>
    <%} if(!module6) {%>
        <button disabled  class="button" style="color: red;"> Module <%=valModule%></button>
    <%  }}%>
  </body>
  
</html>





